.board {
	position: relative;
	width: 1200px;
	margin: 50px auto 50px auto;
	padding: 10px 150px 100px 150px;
	background: linear-gradient(
		241.22deg,
		#f7f3ee 3.04%,
		#f8f2ea 97.58%
	);
	box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25);
}
